############################
# 🔵 .NET
############################
**/bin/
**/obj/
**/.vs/
*.user
*.suo
*.cache
*.pdb

############################
# 🔵 .FRONTEND
############################
*storybook.log
storybook-static
**/node_modules/
**/dist/
